.occasion-card {
  width: 26vw;
  height: 26vw;
  position: relative;
  overflow: hidden;

  @media (max-width: 650px) {
    width: 30vw;
    height: 30vw;
  }

  @media (max-width: 550px) {
    width: 50vw;
    height: 50vw;
    min-width: 30rem;
    min-height: 30rem;
  }

  @media (max-width: 400px) {
    width: 80vw;
    height: 80vw;
    min-width: 20rem;
    min-height: 20rem;
  }

  .img {
    position: absolute;
    height: inherit;
    width: inherit;
    min-width: inherit;
    min-height: inherit;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.3s ease-out;
  }
  .content {
    position: absolute;
    height: inherit;
    width: inherit;
    min-width: inherit;
    min-height: inherit;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    color: white;
    padding: 1.5rem;
    transition: 0.3s ease-out;
    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
      & ~ .img {
        transform: scale(1.3);
      }
      .title {
        transform: scale(1.03);
      }
      .explore {
        margin-right: 0;
      }
    }
    .title {
      font-weight: bold;
      font-size: 1.9rem;
      margin-bottom: 0.6rem;
      transition: 0.3s ease-out;

      @media (max-width: 650px) {
        font-size: 2rem;
      }
    }

    .explore {
      margin-right: 0.3rem;
      transition: 0.3s ease-out;
      font-size: 1.2rem;
    }
  }
}
