.select-wrapper {
  background-color: white;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  position: relative;
  z-index: 3;
  display: inline-block;
  border-radius: 0.3rem;
  width: 12rem;
  border: 0.1rem solid #d1d5db;

  &.active {
    z-index: 5;
  }
  &.responsive {
    width: 100%;
  }

  .main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5rem;
    &.icon-at-left {
      justify-content: flex-start;
      .icon {
        margin-right: 0.3rem;
      }
    }
    .icon {
      height: 1.1rem;
      width: auto;
    }
  }
  .main-text,
  .placeholder {
    display: block;
    padding: 0.5rem;
  }
  .placeholder {
    color: rgba(0, 0, 0, 0.6);
  }

  .dropdown {
    position: absolute;
    top: 0%;
    left: 0;
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: inherit;
    z-index: -2;
    transition: 0.2s ease-out;
    max-height: 0;
    border-radius: 0.3rem;
    overflow: hidden;
    &.right {
      left: unset;
      right: 0;
    }
    &.on-top {
      top: unset;
      bottom: 0;
    }

    &.show-dropdown {
      z-index: 10;
      max-height: 100vh;
      box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
      top: 105%;
      &.on-top {
        top: unset;
        bottom: 115%;
      }
    }
  }
  .option {
    padding: 0.6rem;
    background-color: inherit;
    transition: 0.2s ease-out;
  }
  .option.initial {
    color: rgba(0, 0, 0, 0.4);
  }
  .option.active {
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.008);
  }
  .option:hover {
    background-color: #ffdddd;
  }
  .option.initial:hover {
    background-color: inherit;
  }
}

.selected {
  background-color: #9b0000;
  color: white;

  &:hover {
    background-color: #9b00007a;
  }
}
