.blog-card {
  display: inline-block;
  border: 0.1rem solid #f3f4f6;
  border-radius: 0.4rem;
  width: 26vw;
  background-color: rgba(255, 255, 255, 0.745);
  transition: 0.3s ease-out;
  &:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  }

  .detail {
    padding: 0.6rem 1rem 1rem;
  }
  .title {
    font-size: 1.2rem;
    margin: 1rem 0;
    height: 3.2rem;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .duration {
    background-color: #f4f4f4;
    padding: 0.3rem 1rem;
  }
  .subtitle {
    margin-top: 0.2rem;
    height: 5rem;
    font-size: 0.95rem;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .img-wrapper {
    overflow: hidden;
    height: 11rem;
    border-radius: 0.4rem 0.4rem 0 0;
    .flower-image {
      height: 11rem;
      width: 100%;
      object-fit: cover;
      border-radius: 0.4rem 0.4rem 0 0;
      transition: 0.3s ease-out;
    }
  }
  .continue {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
}
