.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 1.3rem;

  .breadcrumb-item {
    display: flex;
    align-items: center;
    list-style: none;
  }

  .icon {
    margin: 0 0.8rem;
  }
}
