.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  .label {
    text-transform: capitalize;
  }
  .breadcrumb-item {
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: normal;

    &:last-child {
      font-weight: 500;
    }
  }

  .icon {
    margin: 0 0.8rem;
  }
}
