.product {
  padding: 2rem 4rem;
  padding-top: 3rem;

  .temporary-notes {
    min-height: 3rem;
  }

  @media (max-width: 650px) {
    // padding: 1rem 3rem;
    padding: 0;

    .padding {
      padding: 1rem 2rem;
    }
  }

  .product-content {
    margin-bottom: 3rem;

    &>div {
      flex-basis: 51%;

      &.slider-wrapper {
        flex-basis: 45%;
      }

      margin-left: 1.2rem;

      &:first-child {
        margin-left: 0;
      }
    }

    @media (max-width: 650px) {
      flex-direction: column;
      margin-bottom: 1rem;

      &>div {
        flex-basis: 100%;

        &.slider-wrapper {
          flex-basis: 100%;
        }

        margin: 0;
        margin-top: 1.2rem;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .slider-wrapper {
    .slider {
      overflow: hidden;
      width: 100%;
      display: flex;
      position: relative;

      @media (max-width: 650px) {
        overflow-x: scroll;
        overflow-y: hidden;
        padding-left: 0.5rem;
      }

      .slide {
        width: 100%;
        height: 40rem;
        opacity: 0;
        margin-bottom: 2rem;
        transition: 0.5s ease-out;
        position: absolute;

        @media (max-width: 650px) {
          opacity: 1;
          width: 100%;
          height: 30rem;
          position: relative;
          margin-right: 0.1rem;
          border-radius: 1rem;
          margin-bottom: 0;

          &:last-child {
            margin-right: 0;
          }
        }

        &.active-slide {
          opacity: 1;
          width: 100%;
          height: 40rem;
          margin-bottom: 2rem;
          transition: 0.3s ease-out;
          position: relative;

          @media (max-width: 650px) {
            height: 30rem;
            margin-bottom: 0;
          }
        }

        img {
          width: 100%;
          height: 40rem;
          object-fit: cover;

          @media (max-width: 650px) {
            height: 30rem;
            width: 30rem;
            border-radius: 1.5rem;
          }
        }
      }
    }

    .images {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 0.1rem;

      @media (max-width: 650px) {
        display: none;
      }
    }
  }

  .btn-arrow {
    position: absolute;
    top: 50%;
    background: rgba(255, 255, 255, 1);
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    z-index: 1;

    &.left {
      left: 1rem;
    }

    &.right {
      right: 1rem;
    }

    @media (max-width: 650px) {
      display: none;
    }
  }

  .slide-image {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease-out;
    width: 24.7%;
    height: 9vw;
    object-fit: cover;

    &:hover {
      opacity: 1;
    }

    &.active-image {
      opacity: 1;
    }
  }

  .tab {
    margin: 1.5rem 0;
    // border-bottom: 0.15rem solid #f1f1f1;
    display: inline-block;
    transition: 0.3s ease-out;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1rem;
      background-color: #f1f1f1;
      transition: 0.3s ease-out;
      z-index: -1;
    }
  }

  .tab-title {
    padding-bottom: 0.4rem;
    transition: 0.3s ease-out;
    border-bottom: 0.15rem solid #9b0000;
    font-weight: 700;
  }

  .delivery {
    background-color: #f9fafb;
    padding: 1.2rem;
    margin: 1.5rem 0;
    border-radius: 0.6rem;

    .icon {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: rgba(155, 0, 0, 0.1);
    }
  }

  .social-icons {
    @media (max-width: 650px) {
      margin: 15px 0 0 25px;

    }

    .social-icon {
      height: 2rem;
      width: 2rem;
      background-color: #f1f1f1;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 650px) {
        height: 1.3rem;
        width: 1.3rem;

        img {
          height: 1.3rem;
          width: 1.3rem;
        }
      }
    }

    .social-icon:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }

  .product-info {
    background-color: #f1f1f1;
    padding: 0.8rem;
  }

  .size-wrapper {
    background-color: #f9fafb;
    padding: 1rem;
    margin-bottom: 1rem;

    .size {
      padding: 0.5rem;
      border: 0.1rem solid #d1d5db;
      display: inline-block;
      text-transform: capitalize;

      margin: 0.3rem;
      cursor: pointer;
      transition: 0.3s ease-out;

      &:hover {
        border-color: rgba(209, 213, 219, 0.8);
        color: white;
        background-color: #9b0000;
      }

      &.selected-size {
        // border-color: #9b0000;
        color: white;
        background-color: #9b0000;
      }

      &.not-selected {
        border-color: #d1d5db;
        color: black;
        background-color: #f9fafb;
      }
    }
  }

  .menu-wrapper {
    .menu-btn {
      background-color: #f9fafb;
      cursor: pointer;
      border-radius: 0 0.4rem 0.4rem 0;
      margin-bottom: 1rem;

      .arrow {
        transform: rotate(90deg);
        transition: all 0.4s ease-out;
      }

      .group {
        width: 100%;
        padding: 0 1rem;

        &.active {
          color: #9b0000;
          background-color: rgba(155, 0, 0, 0.1);
        }

        &:hover {
          color: #9b0000;
          background-color: rgba(155, 0, 0, 0.1);
          transition: 0.3s ease-out;
        }
      }
    }

    .menu-dropdown {
      // height: 0;
      transition: 0.4s ease-out;
      display: flex;
      overflow: hidden;

      &.opened {
        height: 15rem;
        transition: 0.4s ease-out;
      }
    }

    .menu-child {
      text-align: center;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      img {
        height: 10rem;
      }
    }
  }

  .design {
    border: 0.1rem solid #e5e7eb;
    padding: 1.5rem 0.2rem 0.7rem;
    width: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-out;

    &.selected-design {
      border-color: #9b0000;
    }

    &:hover {
      border-color: #9b0000;
    }

    .inLargeVase {
      height: 8rem;
    }
  }

  .buy-now {
    width: 35%;
  }

  .add-to-cart {
    width: 60%;
  }
}

.subTitle {
  font-size: 1.5rem;
  font-weight: normal;
}