.service-card {
  width: 25vw;
  height: fit-content;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (max-width: 650px) {
    width: 60vw;
    padding: 0;
  }

  @media (max-width: 500px) {
    flex-direction: row;
    width: 80vw;
  }

  &.default {
    .img {
      height: 9rem;

      @media (max-width: 500px) {
        height: 5rem;
      }
    }
    .description {
      text-align: center;
    }
    .title {
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
  &.small {
    border-radius: 0.2rem;
    background-color: #edededba;
    font-size: smaller;
    .img {
      height: 3.5rem;
    }
    .title {
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
  .img {
    height: 4rem;
    margin-bottom: 1rem;
  }
  .title {
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
  }
}
