.article {

  &>* {
    box-sizing: border-box;
    font-weight: 400;
    border: 0;
    padding: 0%;
    margin: 0;
  }

  img {
    object-fit: cover;
    object-position: center;
    width: 17.917rem;
    height: 16.625rem;
    display: inline;
    padding: 0 0.3rem;

    @media (max-width: 768px) {
      width: 50%;
      height: 50%;
    }

    @media (max-width: 420px) {
      height: 6.75rem;
      width: 6.646rem;
    }


  }

  div {
    margin: 1rem 0;
  }

  p {
    padding: 0.5rem 0;
    margin: 0.5rem 0;
  }

  h1,
  h2 {
    font-size: 1.875rem;
    margin: 2rem 0;
  }

  blockquote {
    margin: 2rem 0;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    gap: 0 1rem;
    align-items: center;
    width: 85%;
    line-height: 2.25rem;
    position: relative;

    @media (max-width: 420px) {
      font-size: 1.25rem;
    }

    &::before {
      content: "";
      display: block;
      height: 10rem;
      width: 0.2rem;
      background-color: #6941C6;

    }

    cite {
      font-size: 1rem;
      display: block;
      color: #667085;
      position: absolute;
      bottom: 0;
      left: 3rem;
      display: flex;

      @media (max-width: 420px) {
        bottom: -1rem;

      }
    }

  }

}