.hero-img {
  height: 20rem;
  width: auto;
  margin: 0 auto 2rem auto;
  display: block;

  @media (max-width: 650px) {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

.popular-sections {
  padding: 0 7rem;

  @media (max-width: 650px) {
    padding: 0 2rem;
  }

  @media (max-width: 400px) {
    padding: 2.5rem 1rem;
  }

  .title {
    font-size: 2rem;

    @media (max-width: 600px) {
      font-size: 1.5rem;
      text-align: center;
      margin: 0 auto;
    }
  }
}

.section {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 6rem;

  @media (max-width: 650px) {
    margin: 1rem 0 2rem;
  }

  &.wrap {
    @media (max-width: 650px) {
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
    }
  }
}
