.hero-bg {
  background-image: url("/images/landing-bg.png");
  @media (max-width: 768px) {
    background-image: url("/images/landing-bg-mobile.png");
    height: 24rem;
    background-position: 0 1rem;
    background-size: 100vw auto;
    color: white;
  }
}
.hero-content {
  padding: 2rem 4rem;
  @media (max-width: 768px) {
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -2rem;
  }
  .title {
    font-size: 4.5rem;
    font-weight: 300;
    text-transform: uppercase;
    @media (max-width: 1400px) {
      font-size: 4rem;
    }
    @media (max-width: 768px) {
      font-size: 2rem;
      font-stretch: extra-expanded;
      width: 100%;
    }
  }
  .subtitle {
    font-size: 1.3rem;
    margin: 1rem 0;
    @media (max-width: 768px) {
      width: 80%;
    }
  }
}

.section {
  display: flex;
  justify-content: space-between;
  margin: 0 0 6rem;

  @media (max-width: 768px) {
    margin: 1rem 0 2rem;
  }

  &.wrap {
    @media (max-width: 768px) {
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
    }
  }
}

.popular-section {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  // grid-gap: 2rem;
  justify-content: space-between;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;

  @media (max-width: 800px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 450px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.google-review {
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  @media (max-width: 768px) {
    margin-bottom: 1rem;
  }
  .stats {
    font-size: 0.85rem;
    @media (max-width: 768px) {
      font-size: 1.1rem;
    }
  }
}
.stats {
  background-color: rgba(255, 255, 255, 0.711);
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
  white-space: nowrap;
  font-weight: 300;
  font-size: 1.1rem;
  color: #7c7d7c;
  @media (max-width: 768px) {
    font-weight: 400;
    color: #151414;
    & > *:nth-child(2) {
      font-weight: 700;
    }
  }
}
.hero-input {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: -3rem;
}
.featured-occasion {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  margin: 1rem 0 3rem;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  .featured-occasion-image {
    width: 65vw;
    @media (max-width: 768px) {
      width: 100%;
      border-radius: 0.5rem;
    }
  }
  .featured-occasion-details {
    position: absolute;
    top: 30%;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    align-items: center;
    width: 34rem;
    text-align: center;
    @media (max-width: 1300px) {
      padding: 1.5rem;
      align-items: center;
      width: 25rem;
    }
    @media (max-width: 768px) {
      position: relative;
      right: unset;
      top: unset;
      width: 90%;
      margin: -5rem auto 1rem;
      border-radius: 0.5rem;
    }
  }
  .title {
    font-weight: 400;
    font-size: 1.7rem;
    @media (max-width: 1300px) {
      font-size: 1.5rem;
    }
  }
  .subtitle {
    margin: 2rem 0;
    font-size: 1.3rem;
    @media (max-width: 1300px) {
      font-size: 1rem;
    }
    @media (max-width: 768px) {
      font-size: 1.1rem;
      margin: 1rem 0;
    }
  }
  .button {
    width: 100%;
    padding: 1rem;
    @media (max-width: 1300px) {
      padding: 0.8rem;
    }
  }
}
.quote-flex {
  display: flex;
  width: 100%;
  position: relative;
  .quote,
  .quote-img {
    width: 33%;
    @media (max-width: 768px) {
      width: 49%;
      border-radius: 0.5rem;
    }
  }
  .quote {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.7rem;
    padding: 1rem;
    background-color: #f1f1f1;
    @media (max-width: 768px) {
      position: absolute;
      font-size: 1.1rem;
      width: 65%;
      top: 20%;
      left: 18%;
    }
  }
}
.reviews-subtitle {
  font-size: 1.2rem;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
  @media (max-width: 768px) {
    width: 90%;
    margin-bottom: 1rem;
  }
}
.reviews-wrapper {
  border: 0.1rem solid #e5e5e5;
  height: fit-content;
  margin: 1rem 6rem 6rem;
  padding: 1.5rem;
  display: flex;
  position: relative;
  @media (max-width: 768px) {
    flex-direction: column;
    margin: 1rem 1rem 4rem;
    border: none;
  }
  .reviews {
    display: flex;
    .review-page {
      width: 0;
      opacity: 0;
      display: flex;
      justify-content: space-between;
      &.active {
        width: 100%;
        opacity: 1;
      }
      .review {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.3s ease-out;
        overflow: hidden;
        position: relative;
        width: 28%;
        @media (max-width: 768px) {
          margin-top: 2rem;
          width: 100%;
          padding: 1rem;
          background-color: white;
        }
        .rating {
          display: flex;
          justify-content: space-between;
          width: 100%;
          img {
            height: 0.8rem;
            margin: 0 0.1rem;
          }
        }
        .text {
          margin-top: 0.7rem;
          width: 100%;
          display: -webkit-box;
          line-clamp: 7;
          -webkit-line-clamp: 7;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;

          @media (max-width: 768px) {
            width: 100%;
            font-size: 1.2rem;
          }
        }
        .review-date {
          margin: 0.1rem 0 1.5rem;
        }
        .avatar {
          background-color: #f5e5e5;
          display: flex;
          -moz-box-align: center;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          height: 1.6rem;
          width: 1.6rem;
          margin: 0.6rem 0 0.1rem;
          font-weight: bold;
          color: #b240da;
          border-radius: 50%;
          font-size: 1.1rem;
        }
      }
    }
  }
}
.review-arrow {
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  height: 2rem;
  opacity: 0.2;
  align-self: center;
  margin: 1.5rem;
  cursor: pointer;
  pointer-events: none;
  transition: 0.3s ease-out;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
  @media (max-width: 768px) {
    display: none;
  }

  &.left-arrow {
    transform: rotate(180deg);
    right: unset;
    left: 15%;
  }
}
.review-dots {
  position: absolute;
  bottom: 1rem;
  left: 48%;
  @media (max-width: 768px) {
    left: 35%;
  }
  .dot {
    display: inline-block;
    cursor: pointer;
    background-color: #e5e5e5;
    border-radius: 50%;
    padding: 0.5rem;
    transition: 0.3s ease-out;
    margin: 0 0.3rem;
    &.active {
      background-color: #b240da;
      cursor: default;
    }
  }
}
.full-width-section {
  display: flex;
  margin-bottom: 4rem;
  position: relative;
  .left {
    width: 45%;
    object-fit: cover;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .right {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    text-align: center;
    padding: 0 4rem;
    padding-bottom: 2rem;
    @media (max-width: 768px) {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      color: white;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
  .subtitle {
    font-size: 1.2rem;
    margin: 0.5rem 0 2rem;
    width: 80%;
  }
}

.subscribe-section {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 2rem 6rem;
  margin: 2rem 6rem 4rem;
  font-size: 1rem;
  @media (max-width: 1300px) {
    h2 {
      width: 90%;
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 2rem;
    margin: 2rem 2rem 4rem;
    h2 {
      width: 100%;
      font-size: 1.3rem;
    }
    .subscribe-form-wrapper {
      margin: 1.5rem 0 1rem;
      & > * {
        margin: 0.5rem;
      }
    }
  }
  .subscribe-img {
    height: 14rem;
    @media (max-width: 768px) {
      width: 100%;
      height: auto;
    }
  }
}

.contact-section-wrapper {
  background-image: url(/images/pattern-bg.png);
  background-repeat: no-repeat;
  background-size: 20rem;
  background-position: bottom left;

  @media (max-width: 768px) {
    display: none;
  }
  .contact-section {
    padding: 6rem;
    background-color: #fcfcfbe2;
    display: flex;
    align-items: center;
    justify-content: center;
    .contact-img {
      height: 40rem;
      position: relative;
      z-index: 3;
    }
    .details {
      background-color: #f5f2ef;
      padding: 3rem 10rem;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      position: relative;
      margin-left: -6rem;
      z-index: 2;
      font-size: 0.95rem;
      align-items: flex-start;
      .detail {
        margin: 0.6rem 0;
        display: flex;
        flex-direction: column;
        .key {
          color: #6b7280;
        }
        .value {
          display: flex;
          margin: 1rem 0 0.6rem;
          width: 18rem;
          & > img {
            margin-right: 1rem;
          }
        }
      }

      .hello-btn {
        color: #2fd56d;
        border-color: #2fd56d;
      }
    }
  }
}

.mobile-contact-details {
  background-color: #f5f2ef;
  padding: 3rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  @media (min-width: 768px) {
    display: none;
  }

  .detail {
    margin: 0.6rem 0;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    .key {
      color: #6b7280;
    }
    .value {
      display: flex;
      margin: 1rem 0 0.6rem;
      width: 18rem;
      & > img {
        margin-right: 1rem;
      }
    }
  }
}

.about-section {
  display: flex;
  justify-content: space-between;
  padding: 3rem 6rem;
  & > *:first-child {
    margin-right: 2rem;

    @media (max-width: 768px) {
      margin-right: 0;
    }
  }

  @media (max-width: 600px) {
    padding: 3rem 2rem;
  }

  & > * {
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
      margin: 0;
      margin-top: 1rem;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .red {
    color: #b240da;
  }
}

.flower-input-wrapper {
  position: relative;
  display: flex;
  height: 5rem;
  padding: 0.5rem;
  background-color: white;
  align-items: center;
  margin-top: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  z-index: 2;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 1rem;
    height: auto;
    margin-top: 0;
    width: 90%;
    font-size: 1rem;
    box-shadow: 0.3rem 1rem 1rem 0 rgb(0 0 0 / 16%);
    border-radius: 0.3rem;
  }

  .occasion-select {
    border: none;
    padding: 0 0.4rem;
    width: 18rem;
    @media (max-width: 1300px) {
      width: 16rem;
    }
    @media (max-width: 768px) {
      width: 52%;
    }
  }
  .vr {
    display: inline-block;
    height: 2.2rem;
    width: 0.02rem;
    background-color: rgb(209, 209, 209);
    align-self: center;
    margin: 0 1.5rem;
    @media (max-width: 768px) {
      height: 80%;
      width: 0.1rem;
      margin: 0 0.5rem;
    }
  }
  .delivery-date {
    border: none;
    border-radius: 0;
    width: 14rem;
    @media (max-width: 1300px) {
      width: 12rem;
    }
    @media (max-width: 768px) {
      width: 40%;
    }
  }
  .input-submit {
    align-self: stretch;
    align-items: center;
    width: 16rem;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 500;
    @media (max-width: 1300px) {
      width: 14rem;
    }
    @media (max-width: 768px) {
      margin-top: 0.5rem;
      width: 100%;
    }
  }
}

.see-all {
  margin: 1.5rem 0;
  color: #b240da;
  margin: auto;
  font-weight: 400;
  h3 {
    font-size: 1.1rem;
    margin-right: 1rem;
    font-weight: 500;
    border-bottom: 0.15rem solid #b240da;
  }
  img {
    width: 2rem;
  }
}

.occasion-card {
  width: 100%;
}

.story-section {
  background-color: rgb(219, 182, 189);
  margin: 3rem 6rem 12rem;
  padding: 4rem;
  height: fit-content;
  padding-top: 8rem;
  @media (max-width: 768px) {
    margin: 4rem 1rem 14rem;
    padding: 2rem;
  }
  .story-wrapper {
    background-color: white;
    padding: 2rem;
    position: relative;
    margin-bottom: -10rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    align-items: center;
    @media (max-width: 768px) {
      padding: 1.5rem;
    }
    .story {
      display: flex;
      max-height: 90rem;
      overflow: hidden;
      transition: 0.3s ease-out;
      & > *:last-child {
        margin-left: 2rem;
        @media (max-width: 768px) {
          margin-left: 0;
          margin-top: 2rem;
        }
      }
      @media (max-width: 768px) {
        flex-direction: column;
        max-height: 200rem;
      }
      &.minimized {
        max-height: 14rem;
        @media (max-width: 1300px) {
          max-height: 16rem;
        }
        @media (max-width: 768px) {
          max-height: 27rem;
        }
      }
      .story-topic {
        font-weight: 400;
        font-size: 1.8rem;
        text-transform: uppercase;
      }
      .para {
        font-size: 1rem;
      }
    }
    .continue {
      font-size: 1.1rem;
      color: #b240da;
      font-weight: 700;
      margin-top: 2rem;
    }
  }
}
