.progress-wrapper {
  width: 100%;
  height: 3px;
  background-color: #ccc;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  .progress-bar {
    height: 100%;
    background-color: #b240da;
    transition: width 0.3s ease-in-out;
  }
}
